{{!-- just trying to display data here from cryptoRoutes.js API --}}
<div class ="container">
    <div class="row">
<h1>{{response.render}}</h1>
<h1>{{data.render}}</h1>
<h1>{{res.render}}</h1>
<h1>{{response}}</h1>
<h1>{{data}}</h1>
    </div>
</div>
