{{#each posts as |post|}}
{{!-- POST BODY --}}
<body id="grey-background">
    <div id="dash-style" class="container">
        <div id="white-background" class="post-style">
            <div class="row post-style">
                <div class="col-8">
                    <h5>{{post.title}}</h5>
                    <hr class="line">
                    <p>Posted by {{user.name}} on {{format_date post.date_created}}</p>
                </div>
            </div>
            <div class="row blog_content">
                <p>{{post.content}}</p>
                <hr>
            </div>
            {{log post}}
            {{!-- COMMENT BODY --}}
            {{#if post.comments}}
            {{!-- {{post.comments}} --}}
            {{#each post.comments as |comment|}}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>Comment by {{{comment.user_id}}} on {{{format_date comment.date_created}}}</p>
                    </div>
                </div>
                <div class="row blog_content">
                    {{!-- {{log comment}} --}}
                    <p>{{{comment.comment}}}</p>
                </div>
            </div>
            {{/each}}
            {{/if}}
            <br>
            {{!-- ADD COMMENT --}}
            <a class="button-style btn margin-btm" id="commentBtn"><i class="far fa-comment"></i> Leave a Comment</a>
            <div class="row comment-container hide" id="commentContainer">
                <div class="input-group">
                    <span class="input-group-text">Comment:</span>
                    <textarea id="commentText" class="form-control" aria-label="With textarea"></textarea>
                </div>
                {{!-- SAVE COMMENT --}}
                <div>
                    <button type="submit" class="button-style btn saveCommentBtn margin-btm" data-id="{{post.id}}"><i
                    class="far fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>
</body>
{{/each}}
<script src="./js/comment.js"></script>