{{!-- POST BODY --}}
{{#each posts as |post|}}
<div id="dash-style">
    <div id="white-background" class="post-style">
        <div class="row post-style">
            <div class="col-8">
                <a href="/post/{{post.id}}">
                    <h5 class="center-align">{{post.title}}</h5>
                </a>
                <br>
                <hr class="line">
                <p>Posted by <b>{{user.name}}</b> on <i>{{format_date post.date_created}}</i></p>
            </div>
        </div>
        <div class="row blog_content">
            <p>{{post.content}}</p><br>
            <hr class="line">
            <a href="/post/{{post.id}}" style="color: #35b729;">
                <p class="right-align" style="text-transform: uppercase;" id="link">
                    <b>Join the conversation</b>
                </p>
            </a>
        </div>
        {{log post}}
    </div>
</div>
{{/each}}