{{!-- data from controllers/api/cryptoRoutes.js API --}}
<div class ="container">
    <div class="row">
        <div class="col">
            <div class="card card-panel hoverable">
                CRYPTOS PRESENT
                {{#manipulated}}
                    <img src="https://www.cryptocompare.com{{IMAGEURL}}">
                    <p>{{SYM}} 
                    {{PRICE}} {{LASTUPDATE}}
                    {{CHANGEPCTDAY}}</p>
                {{/manipulated}}
            </div>
        </div>
    </div>
</div>